
body {
	max-width: 1920px;
	min-width: 1200px;
}

a {
	text-decoration: none;
}

#header {
	width: 1000px;
	overflow: hidden;
	margin: 20px auto;
}

#logo {
	float: left;
}

#menu ul li {
	float: right;
	list-style-type: none;
	padding: 9px;
	font-family: Myriad Pro;
	font-size: 20px;
}

#menu ul li a {
	color: #6c6c6c;
}

#wrapper {
	width: 1265px;
	margin: 20px auto;
}

#content {
	overflow: hidden;
	margin: 100px auto;
}

#block_1 {
	float: left;
	margin-left: 105px;
	width: 200px;
}

#block_2 {
	float: right;
	margin-right: 110px;
	width: 200px;
}

#block_3 {
	float: right;
	margin-right: 220px;
	width: 200px;
}

h3 {
	font-family: Myriad Pro;
	font-size: 20px;
	font-style: Regular;
	color: #5094f2;
}

p {
	font-family: Myriad Pro;
	font-size: 15px;
	font-weight: Bold;
	color: #909090;
	line-height: 15px;
	letter-spacing: 1px;
}

h1 {
	margin-top: 20px;
	margin-left: 50px;
	font-family: Myriad Pro;
	font-size: 42px;
	color: #6f7173;
}

h2 {
	font-family: Myriad Pro;
	font-size: 26px;
	color: #6f7173;
}

#bucket {
	overflow: hidden;
	margin-top: -15px;
}

#left-content {
	float: left;
	margin-left: 50px;
}

#left-content img {
	margin-left: 10px;
	margin-top: 15px;
}

#right-content {
	float: right;
	margin-top: 55px;
}


#right-content p {
	font-family: Myriad Pro;
	font-size: 15px;
	color: #909090;
	line-height: 36px;
	width: 480px;
}

#footer {
	height: 95px;
	margin-top: 60px;
}

#footer p {
	margin-top: 40px;
	margin-left: 800px;
	font-size: 18px;
	font-weight: bold;
	color: #6f7173;
}